.reset-form {
    padding: 120px 0;
}

.reset-form form {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 30px 50px;
    border-radius: 10px;
}

.reset-form form input:not([type="submit"]):focus {
    box-shadow: none;
    border-color: var(--color-text);
    caret-color: var(--color-primary);
}
