/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

/* root variables */
:root {
    --color-primary: #df2020;
    --color-text: #212245;
}

/* reset default style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base style */

body {
    background: #fcfcfc;
    font-family: "Istok Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "RocknRoll One", sans-serif !important;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #212245;
}

.color-grey {
    color: #555;
}

.color-primary {
    color: var(--color-primary) !important;
}

.main-btn {
    display: block;
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: white !important;
    font-weight: bold;
}
